#homePageContainer {
    margin-top: 50px;

}

.carousel {
    max-width: 1200px;
}

.carousel-inner {
    max-width: 1200px;
    height: 600px;

}

.carousel-item {
    width: 100%;
}

.carousel-item img {
    max-width: 100%;
    height: auto;

}

.figure {
    width: 100%;
}

<<<<<<< Updated upstream
.figure-img {
    width: 100%;
=======
#customB {
    background-color: #6c757d !important;
}

#logoImg {
    margin-top: 30px;
}

#modalLogo {
    padding-top: 10px;
    margin-left: 450px;
    padding-bottom: 10px;
}



/* Dashboard css */
#dashboardContainer {
    max-width: 1200px;
}

#profileView {
    border: 1px solid green;
>>>>>>> Stashed changes
}