#homePageContainer {
    margin-top: 50px;

}

.carousel {
    max-width: 1200px;
}

.carousel-inner {
    max-width: 1200px;
    height: 600px;

}

.carousel-item {
    width: 100%;
}

.carousel-item img {
    max-width: 100%;
    height: auto;

}

.figure {
    width: 100%;
}

.figure-img {
    width: 100%;
}